<header>
    <mat-toolbar color="primary">
        <span>Photo Gallery</span>
        <button (click)="openDialog()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">

            <mat-icon>file_upload</mat-icon>
        </button>
    </mat-toolbar>
</header>
<div class="images">
    <div *ngFor="let url of imageUrls">
        <img [src]="url" [ngStyle]="{'background-image':'url(' + url + ')', 'background-size':'cover'}" alt="image">
    </div>
</div>