.image-previewer {
    max-width: 800px;
    position: relative;

    &__images {
        display: flex;
    }

    &__add-image {
        display: block;
        margin: 0.25rem;
    }

    &__preview {
        width: 75px;
        height: 100px;
        margin: 0.25rem;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 0.4;
        }
    }
}